.form-container {
  max-width: 610px;
  margin: 50px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.inputs-selector {
  padding-right: 20px;
  border-right: 1px solid #aaa;
}

.inputs-selector label {
  font-weight: 700;
  margin-right: 5px;
}

.inputs-selector input {
  width: 100%;
  margin: 5px auto 10px;
  font-size: 1rem;
  padding: 8px 15px;
  border: 1px solid #aaa;
  border-radius: 50px;
}

.checkbox-selector {
  padding-left: 20px;
}

.checkbox-selector label {
  font-size: 1.2rem;
  margin-left: 5px;
}

.checkbox-selector input {
  width: 20px;
  height: 20px;
}

.checkbox-selector div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 0;
}

.selecting-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.spender-selector {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
}

.buttons .btn {
  width: 100%;
  display: block;
}
